.all{
    border: 2px solid rgb(210, 210, 210);
    width: 280px;
    height: 80vh;
    border-radius: 45px;
    box-shadow:17px 17px 400px -11px silver;
    margin-left: auto;
    margin-right: auto;
    margin-top:  65px;
    position: relative;
    overflow: hidden;
    background-color: black;
    color: white;
}
.menu_top{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ava{
    width: 25px;
    margin: 30px;
}
.bar{
    margin: 30px;
    color: grey;
}
.centerAll{
    margin-left: 25px;
}
.small{
    color: grey;
    font-size: 8px;
    margin-top: -19px;
}
.cen1{
    border-radius: 15px;
    border: white 1px solid;
    width: 230px;
    height: 70px;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(255,76,0,1) 100%, rgba(0,0,0,1) 100%);
}
.big{
    font-size: 13px;
    margin-left: 15px;
    
}
.both{
    margin-left: 15px;
    margin-top: -15px;
    margin-bottom: 0px;
}
.two{
    width: 18px;
    margin-top: 10px;
    
}
.and{
    margin-left: 15px;
}
.cen22{
    border-radius: 15px;
    border: white 1px solid;
    width: 108px;
    height: 100px;
    margin-bottom: 5px;
    text-align: center;
}
.cen10{
    border-radius: 15px;
    border: white 1px solid;
    width: 108px;
    height: 70px;
    margin-top: 5px;
    text-align: center;
}
.cen7{
    border-radius: 15px;
    border: white 1px solid;
    width: 108px;
    height: 70px;
    margin-bottom: 5px;
    text-align: center;
}
.cen12{
    border-radius: 15px;
    border: white 1px solid;
    width: 108px;
    height: 100px;
    margin-top: 5px;
    text-align: center;
}

.line{
    display: flex;
    justify-content: space-between;
}
.now{
    margin: 10px;
}
.bigtwo{
    font-size: 13px;
}
.line2{
    display: flex;
    justify-content: space-between;
}
.day{
    background-color: orangered;
    border-radius: 50%;
    font-size: 12px;
    height: 19px;
    width: 19px;
    padding-left: 7px;
    padding-top: 7px;
    margin-right: 15px;
    margin-top: 15px;
}
.cens{
    display: flex;
    flex-direction: row;
}
.l3{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.mid1{
    margin-top: -20px;
    font-size: 9px;
    color: grey;
}
.biger{
    font-size: 20px;
}
.tw{
    margin-top: 8px;
}

.menu_bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
    margin-top: 40px;
}
.doc{
    color: orangered;
}
.hm{
    margin-left: 40px;
}
.bin{
    margin-right: 40px;
}
.c{
    border:  none;
    background: rgb(33,33,33);
background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(29,29,29,1) 44%, rgba(255,76,0,1) 100%);
}
.c2{
    border:  none;
    background: rgb(33,33,33);
background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(29,29,29,1) 44%, rgba(255,76,0,1) 100%);
}